<div id="ide">
	<form action="/console" method="post">
		<div id="commands">
			<a class="js-run" href="#">run</a>
		</div>
	<div id="editors">
		<div id="define">
			<div class="editor">
				<textarea cols="20" id="Classes" name="Classes" rows="2" style="display: none;">
class Person
{
	public Person(string name)
	{
		Name = name;
	}

	public string Name { get; private set; }

	public string Greet()
	{
		if (Name == null)
			return "Hello, stranger!";

		return string.Format("Hello, {0}!", Name);
	}
}
				</textarea>
			</div>
		</div>
		<div id="execute">
			<div class="editor">
				<textarea cols="20" id="Content" name="Content" rows="2" style="display: none;">
var person = new Person(name: null);
return person.Greet();
					</textarea>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="results">
			<pre></pre>
		</div>
		<div class="status">
			<div class="loading-indicator">
				<span></span>
			</div>
			<ul class="messages">
			</ul>
		</div>
	</div>
	</form>
</div>
